.navbar {
  font-size: 1.5rem;
}

nav {
  width: 100;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #017cff;
  margin-bottom: 20px;
}

.navbar a {
  color: #017cff;
}

.navbar img {
  max-height: 50px;
}

#title{
  margin-bottom: 20px;
}

h1{
  font-size: 30px;
}

/*
.payment>img{
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}*/

section{
  text-align: center;
  margin: 20px;
}

.fab{
  margin-right: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
  h1{
    font-size: 6vw;
  }
  h2{
    font-size: 6vw;
  }

}
